<div class="container">
  <h1>Our restaurants</h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
    <li> <%= link_to(restaurant.name.capitalize , restaurant_path(restaurant)) %>
      -
      <%= restaurant.category %> restaurant <br>
      <%= restaurant.address %>
    </li>
    <hr>
    <% end %>
  <%= link_to 'Add a new restaurant', new_restaurant_path, class: 'btn btn-primary' %>

  </ul>
</div>
